<!-- <app-header></app-header> -->
<div class="content_margin">
  <h3 class="main_content">Change Password</h3>
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <label for="">Old password</label>
    <input type="password" name="" placeholder="Enter old password">
    <div class="mini_gap"></div>

    <label for="">New password</label>
    <input type="password" name="" placeholder="Enter new password">
    <div class="mini_gap"></div>
    
    <label for="">Re-enter new password</label>
    <input type="password" name="" placeholder="Re-enter new password">
    <div class="little_gap"></div>
    <div class="text-center">
      <button class="change_pwd">Change password</button>
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="clear"></div>
</div>