<div class="employee_block">
  <app-header></app-header>
  <div style="padding-bottom:120px"></div>
</div>
<div class="large_gap"></div>

<div class="container">
  <div class="company_d_block">
    <img src="./assets/images/companyProfileBanner.jpg" alt="" class="img_100">
    <div class="overlay"></div>
  </div>

  <div class="cmp_img_tabs">
    <div class="col-md-3 text-center">
      <img src="./assets/images/girl.jpg" alt="" class="companyLogo">
    </div>
    <div class="col-md-9 p0">
      <div class="rec_basic_Detal">
        <h3>Recruiter Name Here</h3>
        <p><i class="fas fa-briefcase"></i> <span>Technical Recruiter</span></p>
        <p><i class="fas fa-building"></i> <span>LogicProg Technologies pvt ltd</span></p>
        <p><i class="fas fa-map"></i> <span>Hyderabad, Secunderabad</span></p>
        <p><i class="fas fa-users"></i> <span>122 Followers</span></p>
        <div class="little_gap"></div>
        <button class="follow_btn" *ngIf="followBTN" (click)="Foll_btn()">Follow</button>
        <button class="following_btn" *ngIf="followngBTN" (click)="Follng_btn()">Following</button>
        <ul class="pull-right">
          <li class="fb"><i class="fab fa-facebook-f"></i></li>
          <li class="gp"><i class="fab fa-google-plus-g"></i></li>
        </ul>
      </div>
    </div>
    <div class="clear"></div>
    <hr>
    <div class="col-md-12">
    
   <ul class="profile_tabs">
     <li (click)="positions()" [ngClass]="{'active_company_tab': div_Element_Id =='0'}">Currently hiring for the positions</li>
     <li (click)="companies()" [ngClass]="{'active_company_tab': div_Element_Id =='1'}">Currently hiring for these companies</li>
   </ul>   
   <div class="large_gap"></div>
    <div class="hirigPos" [ngClass]="{'hideIt': div_Element_Id !='0'}">
      <h4>Currnetly Hiring positions</h4>
      <div class="releated_jobs">
        <div class="" *ngFor="let fe_list of [1,2,3]">
          <div class="single_job_list">
            <div class="col-md-2">
              <img src="./assets/images/1.jpg" alt="">
            </div>
            <div class="col-md-10">
              <h5 class="jb_title">HTML5 Developer (1-2 Yrs Exp.)</h5>
              <p class="comp_name">Webstrot Technology Pvt.Ltd.</p>
              <p>
                <span class="sal_p_a"><i class="far fa-money-bill-alt"></i> $12K - 15K P.A </span>
                <span class="jb_loca"><i class="fas fa-map-marker-alt"></i> Los Angeles, Califonia PO, 455001</span>
              </p>
            </div>
            <div class="clear"></div>
            <div class="keywords">
              <p>
                <span><i class="fas fa-tags"></i></span>  
                <span class="key_text">Keywords: </span>
                <span class="key_all_text">UI Designer, Developer, Senior, IT Company, design, call center</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      </div>


      <div class="hirigforComp" [ngClass]="{'hideIt': div_Element_Id !='1'}">
          <h4>Currnetly Hiring positionsss</h4>
          <div class="releated_jobs">
            <div class="" *ngFor="let fe_list of [1,2,3,4,5,6,7,8,9]">
              <div class="col-md-4">
                <div class="single_company">
                  <div class="company_logo">
                    <img src="./assets/images/1.jpg" alt="">
                  </div>
                  <h4>Company Name Here</h4>
                  <p class="text-center location">Secundrabad, Telangana, India</p>
                  <div class="col-md-6 p0"><p class="text-left">1000+ employees</p></div>
                  <div class="col-md-6 p0"><p class="text-right">678 followers</p></div>
                  <button class="follows_btn">Follow</button>
                </div>
              </div>
            </div>
          </div>
          </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="large_gap"></div>