<div class="reg_block hideIt">
  <div class="logo_block text-center">
    <h1>LOGO</h1>
    <h3>SkillFig</h3>
    <ul>
      <li> Lorem ipsum dolor sit amet </li>
      <li> amet consectetur adipisicing elit</li>
    </ul>
    <span>New User? Sign Up <span>Here</span></span>
  </div>
  <div class="fileds_block">
    <div class="login_block">
      <h4>Login</h4>
      <form>
        <label for="">Email / Mobile no</label>
        <input type="text" name="" id="">
        <label for="">Password</label>
        <input type="password" name="" id="">
        <div class="little_gap"></div>
        <div class="text-right"><span class="f_p_text">Forgot Password?</span></div>
        <div class="large_gap"></div>
        <div class="col-md-4 p0">
          <button class="log_btn">Login</button>
        </div>
        <div class="col-md-8 text-right p0">
          <div>
            <span>Or Login with</span>
            <span class="fb_logo"><i class="fab fa-facebook-f"></i></span>
            <span class="gplus_logo"><i class="fab fa-google-plus-g"></i></span>
          </div>
        </div>
        <div class="clear"></div>
        <div class="little_gap"></div>
      </form>
    </div>
    <div class="reg_block"></div>
  </div>
  <div class="clear"></div>
</div>
