<!-- <app-header></app-header> -->
<div class="content_margin">
    <h3 class="main_content">User Dashboard</h3>
    <div class="col-md-8">
        
    </div>
    <div class="col-md-4">
        <div class="right_grids">
            <div class="profile_status">
                <h3>Profile Completion</h3>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                    aria-valuemin="0" aria-valuemax="100" style="width:70%">
                        70%
                    </div>
                </div>
                <p class="text-right">70% Completed</p>
                <span>For more opportunity <span class="linkhere">Update Profile</span></span>
            </div>

            <div class="profile_status">
                <h3>Latest Message</h3>
               <ul>
                   <li>
                       <p><b>LogicProg Technologies</b></p>
                       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, minus?</p>
                   </li>
                   <li>
                        <p><b>LogicProg Technologies</b></p>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, minus?</p>
                    </li>
               </ul>
                <span>you have 4 unread <span class="linkhere">messages</span></span>
            </div>

            <div class="profile_status">
                <h3>Who's Viewed Your Profile</h3>
                <div class="col-md-6 text-center">
                    <p class="values_cou">0</p>
                    <span class="linkhere">Youth</span>
                </div>
                <div class="col-md-6 text-center">
                    <p class="values_cou">0</p>
                    <span class="linkhere">Company</span>
                </div>
                <div class="clear"></div>
                <div class="little_gap"></div>
                <span>Who's Viewed Your Profile <span class="linkhere">View all</span></span>
            </div>

            <div class="profile_status leaderboard">
                <h3>Improve your Leaderboard</h3>
                <p class="text-center">
                    <span class="pull-left"><i class="fas fa-chevron-left"></i></span>
                    HTML5
                    <span class="pull-right"><i class="fas fa-chevron-right"></i></span>
                </p>
                <ul>
                    <li>Rank: 2233 <span>Pandey</span></li>
                    <li>Rank: 2233 <span>Dinesh</span></li>
                    <li><b>Rank: 2233 <span>Me</span></b></li>
                    <li>Rank: 2233 <span>Raju</span></li>
                    <li>Rank: 2233 <span>Prasad</span></li>
                </ul>
                <span>Improve your leaderboard <span class="linkhere">here</span></span>
            </div>

            <div class="profile_status">
                <h3>Recommended Course</h3>
                <div class="col-md-3"><img src="./assets/images/courses/1.png" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/courses/2.png" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/courses/3.png" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/courses/4.png" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/courses/5.png" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/courses/6.png" alt=""></div>
                <div class="clear"></div>
                <div class="little_gap"></div>
                <span>Who's Viewed Your Profile <span class="linkhere">View all</span></span>
            </div>

            <div class="profile_status">
                <h3>People you may Know</h3>
                <div class="col-md-3"><img src="./assets/images/girl.jpg" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/31.jpg" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/girl.jpg" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/31.jpg" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/girl.jpg" alt=""></div>
                <div class="col-md-3"><img src="./assets/images/31.jpg" alt=""></div>
                <div class="clear"></div>
                <div class="little_gap"></div>
                <span>Find more Profiles <span class="linkhere">here</span></span>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
