<app-header></app-header>
<div class="container">
<div class="left_menu">
    <ul>
      <li>
        <span> Recuiter Profile UserName</span>
        <img src="./assets/images/defaultProf.jpg" alt="">
      </li>
      <div class="clear"></div>
      <li [routerLink]="['./']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
        true}"><a ><i class="fas fa-home"></i> Dashboard</a></li>
      <li [routerLink]="['user-profile']" routerLinkActive="active-link"><a><i class="fas fa-edit"></i> Edit Profile</a></li>
      <li routerLinkActive="active-link"><a><i class="fas fa-edit"></i> Candidates Pool</a></li>      
      <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}"><a><i class="fas fa-edit"></i> Jobs</a>
        <ul>
          <li><a routerLink="['postajob']"><i class="fa fa-edit"></i>Post a Job</a></li>
          <li><a><i class="fa fa-edit"></i>View / Edit Jobs</a></li>
        </ul>
      </li>   
      <li routerLinkActive="active-link"><a><i class="fas fa-edit"></i> Tests</a>
        <ul>
          <li><a><i class="fa fa-edit"></i>Create a Job</a></li>
          <li><a><i class="fa fa-edit"></i>View Tests</a></li>
        </ul>
      </li> 
      <li routerLinkActive="active-link"><a><i class="fas fa-edit"></i> Tests</a>
        <ul>
          <li><a><i class="fa fa-edit"></i>Create a Job</a></li>
          <li><a><i class="fa fa-edit"></i>View Tests</a></li>
        </ul>
      </li>      
    </ul>
  </div>

    <router-outlet></router-outlet>
</div>

