<div class="left_menu">
  <ul>
    <li>
      <span>Profile UserName</span>
      <img src="./assets/images/defaultProf.jpg" alt="">
    </li>
    <div class="clear"></div>
    <li [routerLink]="['./']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:
      true}"><a ><i class="fas fa-home"></i> Dashboard</a></li>
    <li routerLinkActive="active-link"><a><i class="fas fa-edit"></i> Edit Profile</a></li>
    <li [routerLink]="['user-inbox']" routerLinkActive="active-link"><a><i class="fas fa-envelope"></i> Inbox</a></li>
    <li [routerLink]="['user-follwers']" routerLinkActive="active-link"><a><i class="fas fa-users"></i> Followers</a></li>
    <li routerLinkActive="active-link"><a><i class="far fa-file-alt"></i> Reports</a></li>
    <li routerLinkActive="active-link"><a><i class="fas fa-suitcase"></i> Jobs</a></li>
    <li routerLinkActive="active-link"><a><i class="fas fa-comments"></i> Discussions</a></li>
    <li routerLinkActive="active-link"><a><i class="fas fa-th-large"></i> Blog</a></li>
  </ul>
</div>