
<div class="content_margin">
    <div class="col-md-8">
        <h3>Users</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium totam voluptatum culpa rerum doloremque? Facilis sint consectetur non illum odio!</p>
        <p>Search group of users: <input type="text" placeholder="Search list" name="" id=""></p>
        <div class="large_gap"></div>
        <div class="followers_list">
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="followers_block">
                    <img src="./assets/images/girl.jpg" alt="">
                    <span>Jerry Castro</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="col-md-4 p0">
        <div class="single_detail">
            <div class="single_bg_image">
                <img src="./assets/images/31.jpg" alt="" class="singl_bg">
                <div class="profile_overlay"></div>
                <div class="profile_pic">
                    <img src="./assets/images/31.jpg" alt="">
                    <div class="little_gap"></div>
                    <h3 class="text-center">Mouinca Lestersky</h3>
                    <p class="text-center">Web Fullstack Developer</p>
                </div>
            </div>
            <div class="other_details">
                <ul>
                    <li>
                        <h3>Currently working at:</h3>
                        <p>LogicProgTechnologies Pvt Ltd</p>
                    </li>
                    <li>
                        <h3>Email:</h3>
                        <p><a href="mailto:MouincaLestersky@gmail.com">MouincaLestersky@gmail.com</a></p>
                    </li>
                    <li>
                        <h3>Contact:</h3>
                        <p>+91 9876543210</p>
                    </li>
                    <li>
                        <h3></h3>
                        <p><a>View full details</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>