<div class="content_margin">
  <div class="block4">
      <div class="col-md-12 p0">
        <div class="job_main_block">
          <div class="all_jobs_list">
            <div class="single_job_list">
              <div class="col-md-2">
                <img src="./assets/images/1.jpg" alt="">
              </div>
              <div class="col-md-7">
                <h5 class="jb_title">HTML5 Developer (1-2 Yrs Exp.)</h5>
                <p class="comp_name">Webstrot Technology Pvt.Ltd.</p>
                <p>
                  <span class="sal_p_a"><i class="far fa-money-bill-alt"></i> $12K - 15K P.A </span>
                  <span class="jb_loca"><i class="fas fa-map-marker-alt"></i> Los Angeles, Califonia PO, 455001</span>
                </p>
                <p class="comp_desc">Gather and evaluate user requirements in collaboration with product managers and engineers Illustrate design ideas using storyboards, process flows and sitemaps Design graphic user interface elements,...</p>
              </div>
              <div class="col-md-3 text-right">
                <div class="mini_gap"></div>
                  <div>
                    <button class="apply_btn">APPLY</button>
                  </div>
                  <div class="mini_gap"></div>
                   <div>
                    <button class="job_fav"><i class="far fa-heart"></i></button>
                    <button class="parttime_btn">PART TIME</button>
                  </div>
              </div>
              <div class="clear"></div>
              <div class="keywords">
                <p>
                  <span><i class="fas fa-tags"></i></span>  
                  <span class="key_text">Keywords: </span>
                  <span class="key_all_text">UI Designer, Developer, Senior, IT Company, design, call center</span>
                </p>
              </div>
            </div>
  
  
  
            <div class="single_job_list">
                <div class="col-md-2">
                  <img src="./assets/images/1.jpg" alt="">
                </div>
                <div class="col-md-7">
                  <h5 class="jb_title">HTML5 Developer (1-2 Yrs Exp.)</h5>
                  <p class="comp_name">Webstrot Technology Pvt.Ltd.</p>
                  <p>
                    <span class="sal_p_a"><i class="far fa-money-bill-alt"></i> $12K - 15K P.A </span>
                    <span class="jb_loca"><i class="fas fa-map-marker-alt"></i> Los Angeles, Califonia PO, 455001</span>
                  </p>
                  <p class="comp_desc">Gather and evaluate user requirements in collaboration with product managers and engineers Illustrate design ideas using storyboards, process flows and sitemaps Design graphic user interface elements,...</p>
                </div>
                <div class="col-md-3 text-right">
                  <div class="mini_gap"></div>
                     <div>
                      <button class="apply_btn">APPLY</button>
                    </div>
                    <div class="mini_gap"></div>
                    <div>
                      <button class="job_fav"><i class="far fa-heart"></i></button>
                      <button class="parttime_btn">PART TIME</button>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="keywords">
                  <p>
                    <span><i class="fas fa-tags"></i></span>  
                    <span class="key_text">Keywords: </span>
                    <span class="key_all_text">UI Designer, Developer, Senior, IT Company, design, call center</span>
                  </p>
                </div>
              </div>
  
              <div class="single_job_list">
                  <div class="col-md-2">
                    <img src="./assets/images/1.jpg" alt="">
                  </div>
                  <div class="col-md-7">
                    <h5 class="jb_title">HTML5 Developer (1-2 Yrs Exp.)</h5>
                    <p class="comp_name">Webstrot Technology Pvt.Ltd.</p>
                    <p>
                      <span class="sal_p_a"><i class="far fa-money-bill-alt"></i> $12K - 15K P.A </span>
                      <span class="jb_loca"><i class="fas fa-map-marker-alt"></i> Los Angeles, Califonia PO, 455001</span>
                    </p>
                    <p class="comp_desc">Gather and evaluate user requirements in collaboration with product managers and engineers Illustrate design ideas using storyboards, process flows and sitemaps Design graphic user interface elements,...</p>
                  </div>
                  <div class="col-md-3 text-right">
                    <div class="mini_gap"></div>
                      <div>
                        <button class="apply_btn">APPLY</button>
                      </div>
                      <div class="mini_gap"></div>
                      <div>
                        <button class="job_fav"><i class="far fa-heart"></i></button>
                        <button class="parttime_btn">PART TIME</button>
                      </div>
                  </div>
                  <div class="clear"></div>
                  <div class="keywords">
                    <p>
                      <span><i class="fas fa-tags"></i></span>  
                      <span class="key_text">Keywords: </span>
                      <span class="key_all_text">UI Designer, Developer, Senior, IT Company, design, call center</span>
                    </p>
                  </div>
                </div>
  
  
  
  
          </div>
        </div>
      </div>
      
      <div class="clear"></div>
    </div>
  <!-- </div> -->
  
  
  
  
  
  
  </div>
  
